@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #050a30;
  font-family: 'Poppins', sans-serif;
}

/* Apply Poppins font to all elements */
*, *::before, *::after {
  font-family: 'Poppins', sans-serif;
}